<a href="https://colab.research.google.com/github/MattIzon/16010269_DataAnalytics/blob/main/one_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Set-up
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
data = pd.DataFrame([[1,'Jan'],[2,'Feb'],[3,'Jan'],[4,'Jan'],[5,'Mar'],[6,'Feb']], columns=['X', 'Month'])

In [ ]:
def one_hot(df, column):
    o_h = pd.get_dummies(df[column])
    new = pd.concat([df, o_h], axis=1)
    new = new.drop([column], axis=1)
    return new

In [ ]:
print(one_hot(data,'Month'))

   X  Feb  Jan  Mar
0  1    0    1    0
1  2    1    0    0
2  3    0    1    0
3  4    0    1    0
4  5    0    0    1
5  6    1    0    0